.carousel-item {
  /* display: grid; */
  width: 100%;
  min-height: 50vh;
  height: fit-content;
  align-items: center;
  justify-content: space-between;
  /* background: rgb(177, 149, 62);
  background: linear-gradient(148deg, rgba(177, 149, 62, 1) 0%, rgba(28, 43, 102, 1) 37%);
  color: white;*/
  background: transparent;
}

.carousel-inner {
  margin-top: -3rem;
}

.caro {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 70%;
  margin: 7rem auto;
}


.caro-text {
  width: 40%;
  height: 470px;
  background: rgba(244, 244, 244, 0.88);
  box-shadow: 0px 4px 15px rgba(28, 43, 102, 0.35);
  padding: 1.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: justify;
  position: relative;
}

.caro-text h1 {
  text-align: left;
}

.v-div {
  position: absolute;
  width: 19.2px;
  height: 336.62px;
  background: #FCBE00;
  left: -10px;
}

.caro-text h1 {
  font-size: clamp(1.1875rem, 1.0313rem + 0.5vw, 1.625rem);
  color: #1c2b66;
  text-align: left;
  line-height: 40px;
  font-weight: 700;
  min-width: 200px;
}

.caro-text p {
  font-size: clamp(0.8125rem, 0.7679rem + 0.1429vw, 0.9375rem);
  line-height: 30px;
}

.caro-img {
  width: 50%;
}

.caro-img img {
  width: 80%;
  height: 380px;
  object-fit: cover;
  float: right;
  min-width: 300px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  padding: 2rem;
  width: 160px;
  height: 255px;
  background: linear-gradient(rgba(28, 43, 102, 0.5), rgba(28, 43, 102, 0.9)), url("/assets/images/choose.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* color: #000; */
  /* filter: grayscale(100%); */
  display: flex;
  align-items: center;
  justify-content: center;

}

.caro-icon {
  font-size: 70px;
  color: #FCBE00;
}

.caro-arrow {
  color: #1c2b66;
  font-size: 28px;
}

.caro-link {
  border: none;
  display: flex;
  align-items: center;
  background: none;
}

@media screen and (max-width: 820px) {
  .caro-text {
    width: 100%;
  }

  .caro-img {
    display: none;
  }
}

@media screen and (max-width: 500px) {

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 60px;
    height: 46px;

  }

  .caro {
    width: 90%;
  }

  .caro-icon {
    font-size: 40px;
    color: #FCBE00;
  }

  .caro-text {
    height: 650px;
  }

  .caro-text h1 {
    line-height: 30px;
  }
}
