.featuredpost {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.featuredpost__img {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  cursor: pointer;
}

.featuredpost__title {
  font-size: clamp(0.75rem, 0.2813rem + 1.5vw, 1.100rem);
  cursor: pointer;
  margin: 0;
}

.featuredpost__desc {
  font-size: clamp(0.6875rem, 0.4531rem + 0.75vw, 0.875rem);
  color: #595959;
  width: 90%;
  margin: 0;
}

.featuredpost__btn {
  display: flex;
  align-items: center;
}

.featuredpost__btn button {
  font-size: clamp(0.6875rem, 0.4531rem + 0.75vw, 0.875rem);
  background-color: transparent;
  display: flex;
  align-items: center;
  color: #1C2B66;
  outline: none;
  border: none;
}

.featuredpost__timestamp {
  font-size: clamp(0.6875rem, 0.4531rem + 0.75vw, 0.875rem);
  color: #1C2B66;
}