<footer class="footer">
  <div class="footer__row footer-primary">
    <div class="footer__column footer-logo">
      <img class="log" src="/assets/images/logo2.png" alt="">
      <img class="badg" src="/assets/images/badges.png" alt="">
    </div>
    <div class="footer__column footer-about">
      <h3>About the Group</h3>
      <ul>
        <li>
          <a href="#home">Home</a>
        </li>
        <li>
          <a href="#">About Us</a>
        </li>
        <li>
          <a href="#">Why Halogen</a>
        </li>
        <li>
          <a href="#">Our 360 Degree Solutions</a>
        </li>
        <li>
          <a routerLink="/our-clients">Clients</a>
        </li>
        <li>
          <a href="#">Media</a>
        </li>

      </ul>
    </div>
    <div class="footer__column footer-solutions">
      <h3>Our Integrated Solutions</h3>
      <ul>
        <li>
          <a href="#">Cyber Security Solutions</a>
        </li>
        <li>
          <a href="#">Electronic Solutions & Telematics</a>
        </li>
        <li>
          <a routerLink="/physical-security">Physical Security & Mobility</a>
        </li>
        <li>
          <a href="#">Outsourcing & Identity Verifications</a>
        </li>
        <li>
          <a href="#">Academy Halogen</a>
        </li>
        <li>
          <a href="#">Academy Halogen</a>
        </li>

      </ul>
    </div>
    <div class="footer__column footer-sub">
      <h3>Subscribe to our Newsletter and get the latest news and updates.</h3>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Email" aria-label="user's email"
          aria-describedby="button-addon2">
        <button class="btn btn-sub" type="button" id="button-addon2">Subscribe</button>
      </div>
      <div class="footer__info">
        <p>+234-1-3429012,
          +234-1-3429021,
          +234-0700-HALOGEN</p>
        <p>
          19B, Mobolaji Bank Anthony Way, Ikeja, Lagos. Nigeria
        </p>
        <p>info@halogen-group.com
          Whistleblowing@halogen-group.com</p>
      </div>
    </div>
  </div>
  <div class="footer__row footer-copyright">
    <div class="copyright">
      <p>Copyright© 2022 HALOGEN GROUP | All Rights Reserved</p>
    </div>
    <div class="socials">
      <div class="" (click)="fb()">
        <img src="/assets/images/fb.png" alt="">
      </div>
      <div class="" (click)="insta()">
        <img src="/assets/images/ig.png" alt="">
      </div>
      <div class="">
        <img src="/assets/images/red.png" alt="">
      </div>

    </div>
  </div>
</footer>