.news {
  display: flex;
  flex-direction: column;

  margin: 4rem auto 0 auto;
  gap: 4rem;
}

.new__mainPost {
  width: 90%;
  margin: 4rem auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 4rem;
  max-width: 1300px;
  justify-content: space-between;
}

.mainpost_left {
  width: 60%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.mainpost_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mainpost_content img {
  width: 100%;

}

.mainpost_title h2 {
  font-size: clamp(1.5rem, 0.25rem + 4vw, 2.5rem);
  font-weight: 600;
  line-height: 50px;
  margin: 0;
  color: #1C2B66;
}

.mainpost_content p {
  font-size: clamp(1rem, 0.8214rem + 0.5714vw, 1.5rem);
  line-height: 30px;
  color: #0A0A0A;
}

.mainpost_content-btn button {
  display: flex;
  align-items: center;
  outline: none;
  background: #fff;
  border: none;
  gap: 1rem;
  font-size: clamp(0.875rem, 0.7857rem + 0.2857vw, 1.125rem);
}

.mainPost_related {
  width: 38%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mainPost_related h3 {
  font-size: clamp(0.875rem, 0.7857rem + 0.2857vw, 1.125rem);
  font-weight: 600;
  color: #1C2B66;
  margin: 0;
}

.news__header {
  text-align: center;
}

.news__header-title {
  text-align: center;
  font-size: clamp(1.5rem, 0.25rem + 4vw, 2.5rem);
  font-weight: 600;
}

.news__header-text {
  color: #0A0A0A;
  font-size: clamp(0.75rem, 0.4375rem + 1vw, 1rem);
}

.news__posts {
  width: 90%;
  margin: auto;
  max-width: 1300px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 30px;
  padding: 20px;
  margin: 0 auto;
  row-gap: 1rem;
}

.news__show {
  text-align: center;
  margin: 2rem 0;
}

.news__posts-btn {
  text-align: center;
  background: #fff;
  border: none;
  outline: none;
  color: #1C2B66;
  font-size: clamp(0.875rem, 0.6406rem + 0.75vw, 1.0625rem);
  align-items: center;
  cursor: pointer;
  color: #595959;
  font-size: clamp(0.75rem, 0.5938rem + 0.5vw, 0.875rem);
}

.news__post {
  /* border: 1px solid black; */
}

.news__divider {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.news__div {
  width: 47%;
  border-top: 0.7px solid #1C2B66;

}

.news__must-read {
  width: 100%;
  /* max-width: 1300px; */
}

.news__must-readPost {
  background: rgba(28, 43, 102, 0.05);
  min-height: 609px;
  position: relative;

  padding: 1rem;
}


.news__featured-posts {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 2rem;
}

.news__featured-post {
  width: 48%;
}

@media screen and (max-width:950px) {

  .mainpost_left,
  .mainPost_related {
    width: 100%;

  }
}