.megas-menu {
  display: none;
}

.megas-menu-off {
  display: none;
}

@media screen and (min-width: 1300px) {
  .megas-menu-off {
    display: none;
  }

  .megas-menu {
    width: 90%;
    position: fixed;
    max-width: 1300px;
    z-index: 900;
    top: 305px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    /* max-width: 1230px; */
    margin: 6rem auto;
    height: fit-content;
    min-height: 600px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    box-shadow: 0px 5px 6px -4px rgba(0, 0, 0, 0.75);
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .menu-navs {
    flex: 0.9;
    width: 90%;
    height: max-content;
    min-height: 600px;
  }

  .menu__row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    align-items: stretch;
    /* max-width: 1230px; */
    width: 100%;
    grid-gap: 20px;
    margin: 0 auto;
    padding: 1rem;
    background: #fff;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
  }

  .menu__column {

    width: 100%;
    display: flex;
    flex-direction: column;
    /* padding: 1em; */
    min-height: 15em;
  }

  .menu_col_header {
    height: 50px;
    cursor: pointer;
  }

  .menu__column h3 {
    font-size: 13px;
    color: #1c2b66;
    font-weight: 600;
  }

  .menu__column ul,
  .menu__column ul {
    /* white-space: nowrap; */
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: clamp(0.75rem, 0.5156rem + 0.75vw, 0.9375rem);
    padding: 0;
    gap: 1rem;
    margin: 2rem 0 0 0;
    text-align: left;
    font-size: 13px;

  }

  .menu__column ul li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #666481;
    cursor: pointer;
  }

  .menu__column ul li a,
  .menu__column ul li a {
    text-decoration: none;
    color: #666481;
  }

  .menu__column ul li:hover {
    color: #1c2b66;
  }

  .menu__column ul li a:hover {
    color: #1c2b66;
    font-weight: 600;
    text-decoration: underline;

  }

  .menu__features {
    background: rgb(243, 240, 240);
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    height: 200px;
    padding: 1rem;

  }

  .menu__features h3 {
    font-size: clamp(0.85rem, 0.9554rem + 0.1429vw, .95rem);
    color: #1c2b66;
    font-weight: 600;
  }

  .features {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .feature {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    cursor: pointer;
  }

  .f_logo {
    /* height: 60px;
    width: 60px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #6F6C90;
    /* font-size: 32px; */
    /* background: #fff; */
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  }

  .f_logo .mat-icon {
    font-size: 30px;
  }

  .f_description h3,
  p {
    margin: 0;
  }

  .f_description h3 {
    font-size: clamp(0.85rem, 0.9554rem + 0.1429vw, 1.085rem);
    color: #1c2b66;
    font-weight: 600;
  }

  .f_description p {
    color: #6F6C90;
    font-weight: 400;
    font-size: 13px;
  }

  .f_description {}

}