<div class="mustread">

  <div class="mustread__post">

    <!-- <img src="/assets/images/illustration1.png" class="mustread__illus" alt=""> -->

    <div class="mustread__content">
      <div class="mustRead__text">
        <h5>By Odam Lafer</h5>
        <h1 class="mustread__title">Technology- driven business
          process is the new normal</h1>
        <p>We lead the West African security solutions market, as we continually focus on delivering valued solutions
          across the industry’s value chain as the number one integrated safety and security solutions group</p>

        <button class="mustread__btn">Read More <mat-icon>arrow_right_alt</mat-icon></button>
      </div>
      <div class="mustRead__img">
        <img class="mustRead__image" src="/assets/images/teach.png" alt="">
        <!-- <img src="/assets/images/illustration1.png" class="mustread__illust" alt=""> -->
      </div>
    </div>
  </div>
</div>
