.mustread {
  /* width: 80%; */
  margin: 2rem auto;
  width: 100%;
  background: #FFF4F1;
  /* min-width: fit-content; */
  /* padding: 2rem; */
  /* position: relative; */
}

.mustread__post {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  height: fit-content;
  max-height: fit-content;
  /* padding: 1rem; */
}

.mustread__illust {
  position: absolute;
  bottom: 2%;
  right: 10%;
  width: 30%;
  z-index: 1;
}

.mustread__illus {
  position: absolute;
  left: 10;
  top: 10;
  height: 70px;
  width: 70px;
}


.mustread__title {

  font-size: clamp(1.125rem, -0.4375rem + 5vw, 2.375rem);
  line-height: 43px;
  font-weight: 600;
  color: #1C2B66;
}

.mustread__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 2rem;
  width: 100%;
  margin: 0 auto;
}

.mustRead__text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start
}

.mustRead__text p {
  font-size: clamp(0.75rem, 0.2813rem + 1.5vw, 1.125rem);
}

.mustRead__text h5 {
  font-size: clamp(0.8125rem, 0.4219rem + 1.25vw, 1.125rem);
  color: #1C2B66;
}

.mustread__btn {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  outline: none;
  gap: 0.5rem;
  color: #1C2B66;
  font-size: clamp(0.75rem, 0.2813rem + 1.5vw, 1.125rem);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.mustread__btn:hover {
  font-weight: 600;
  gap: 1rem;
  border: 1px solid #1C2B66;
  padding: 0.3rem 1rem;
}

.mustRead__img {
  width: 40%;
  position: relative;
}

.mustRead__image {
  width: 100%;
  z-index: 10;
  min-width: 200px;
  max-height: 400px;
  object-fit: cover;
}

.mustread__illust {
  position: absolute;
  bottom: -30%;
  /* right: 10%; */
  width: 80%;
  z-index: -1;
}

@media screen and (max-width:760px) {
  .mustread__content {
    flex-direction: column;
    gap: 1rem;
  }

  .mustRead__text {
    width: 100%;
  }

  .mustRead__img {
    width: 100%;
  }
}