<carousel arrowsTheme="dark" [transitionDuration]=800 [autoplayInterval]="2000" [arrowsOutside]="false" [arrows]="true"
  [dots]="false" [counter]="false" loop="true" style="height: 100px;">
  <div class="carousel-cell">
    <!-- <img [src]="images[1]" alt="Random second slide" /> Or any other HTML content -->


    <div class="cell-img">
      <img src="/assets/images/total.png" alt="">
      <img src="/assets/images/firstbank.png" alt="">
      <img src="/assets/images/hb.png" alt="">
      <img src="/assets/images/polaris.png" alt="">
      <img src="/assets/images/keystone.webp" alt="">
      <img src="/assets/images/sterling.png" alt="">

    </div>

  </div>
  <div class="carousel-cell">
    <!-- <img [src]="images[0]" alt="Random second slide" />
       Or any other HTML content -->


    <div class="cell-img">
      <img src="/assets/images/total.png" alt="">
      <img src="/assets/images/firstbank.png" alt="">
      <img src="/assets/images/hb.png" alt="">
      <img src="/assets/images/polaris.png" alt="">
      <img src="/assets/images/keystone.webp" alt="">
      <img src="/assets/images/sterling.png" alt="">

    </div>
  </div>
  <div class="carousel-cell">
    <!-- <img [src]="images[2]" alt="Random second slide" /> Or any other HTML content -->

    <div class="cell-img">
      <img src="/assets/images/total.png" alt="">
      <img src="/assets/images/firstbank.png" alt="">
      <img src="/assets/images/hb.png" alt="">
      <img src="/assets/images/polaris.png" alt="">
      <img src="/assets/images/keystone.webp" alt="">
      <img src="/assets/images/sterling.png" alt="">

    </div>
  </div>
  <div class="carousel-cell">
    <!-- <img [src]="images[2]" alt="Random second slide" /> Or any other HTML content -->

    <div class="cell-img">
      <img src="/assets/images/total.png" alt="">
      <img src="/assets/images/firstbank.png" alt="">
      <img src="/assets/images/hb.png" alt="">
      <img src="/assets/images/polaris.png" alt="">
      <img src="/assets/images/keystone.webp" alt="">
      <img src="/assets/images/sterling.png" alt="">

    </div>
  </div>
  <div class="carousel-cell">
    <!-- <img [src]="images[2]" alt="Random second slide" /> Or any other HTML content -->

    <div class="cell-img">
      <img src="/assets/images/total.png" alt="">
      <img src="/assets/images/firstbank.png" alt="">
      <img src="/assets/images/hb.png" alt="">
      <img src="/assets/images/polaris.png" alt="">
      <img src="/assets/images/keystone.webp" alt="">
      <img src="/assets/images/sterling.png" alt="">

    </div>
  </div>
  <div class="carousel-cell">
    <!-- <img [src]="images[2]" alt="Random second slide" /> Or any other HTML content -->

    <div class="cell-img">
      <img src="/assets/images/total.png" alt="">
      <img src="/assets/images/firstbank.png" alt="">
      <img src="/assets/images/hb.png" alt="">
      <img src="/assets/images/polaris.png" alt="">
      <img src="/assets/images/keystone.webp" alt="">
      <img src="/assets/images/sterling.png" alt="">

    </div>
  </div>
  <div class="carousel-cell">
    <!-- <img [src]="images[2]" alt="Random second slide" /> Or any other HTML content -->

    <div class="cell-img">
      <img src="/assets/images/total.png" alt="">
      <img src="/assets/images/firstbank.png" alt="">
      <img src="/assets/images/hb.png" alt="">
      <img src="/assets/images/polaris.png" alt="">
      <img src="/assets/images/keystone.webp" alt="">
      <img src="/assets/images/sterling.png" alt="">

    </div>
  </div>

</carousel>
