.carousel-item {
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: space-between;
  /* background: rgb(177, 149, 62); */
  /* background: rgb(177, 149, 62);
  background: linear-gradient(146deg, rgba(177, 149, 62, 1) 0%, rgba(28, 43, 102, 1) 37%), url("/assets/images/homecar.png"); */
  /* background: url("/assets/images/homecar.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;

  color: white;
}

.caro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto auto 0 auto;
}


.caro-text {
  width: 40%;
}

.caro-text h1 {
  font-size: clamp(1.25rem, 0.3571rem + 2.8571vw, 3.45rem);
  line-height: 60px;
  font-weight: 700;
  min-width: 300px;
}

.caro-text p {
  font-size: clamp(0.75rem, 0.5714rem + 0.5714vw, 1.05rem);
  line-height: 35px;
  text-align: justify;
}

.caro-img {
  width: 50%;
}

.caro-img img {
  width: 90%;
  float: right;
  min-width: 300px;
}


.mainpost_left {
  width: 75%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.mainpost_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mainpost_content img {
  width: 100%;
  max-width: 585px;
  height: auto;
  max-height: 380px;
  object-fit: cover;
  cursor: pointer;
}

.mainpost_title h2 {
  font-size: clamp(1.5rem, 0.25rem + 4vw, 1.80rem);
  font-weight: 600;
  line-height: 50px;
  margin: 0;
  color: #1C2B66;
  cursor: pointer;
}

.mainpost_content p {
  font-size: clamp(1rem, 0.8214rem + 0.5714vw, 1.05rem);
  line-height: 30px;
  color: #0A0A0A;
  text-align: justify;
}

.mainpost_content-btn button {
  display: flex;
  align-items: center;
  outline: none;
  background: #fff;
  border: none;
  gap: 1rem;
  font-size: clamp(0.875rem, 0.7857rem + 0.2857vw, 1.125rem);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  /* padding: 2rem; */
  /* width: 160px;
  height: 255px;
  background: linear-gradient(rgba(28, 43, 102, 0.5), rgba(28, 43, 102, 0.9)); */
  background-size: cover;
  background-repeat: no-repeat;
  /* color: #000; */
  /* filter: grayscale(100%); */
  filter: invert();
  display: flex;
  align-items: center;
  justify-content: center;

}

.caro-icon-left {
  margin-right: 20px !important;
}

/* .caro-icon {
  font-size: 60px;
  color: #1C2B66;
} */

@media screen and (max-width: 820px) {
  .caro-text {
    width: 100%;
  }

  .caro-img {
    display: none;
  }
}