<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <!-- <div class="caro">
        <div class="caro-text">
          <h1>Enjoy anxiety-free travels in Nigeria with Halogen</h1>
          <p>We lead the West African security solutions market, as we continually focus on delivering valued
            solutions across the industry’s value chain as the number one integrated safety and security
            solutions group</p>
        </div>
        <div class="caro-img">
          <img src="/assets/images/2.png" class="" alt="...">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="caro">
        <div class="caro-text">
          <h1>Halo Halo!! Halogen!!!</h1>
          <p>We lead the West African security solutions market, as we continually focus on delivering valued
            solutions across the industry’s value chain as the number one integrated safety and security
            solutions group</p>
        </div>
        <div class="caro-img">
          <img src="/assets/images/1.png" class="" alt="...">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="caro">
        <div class="caro-text">
          <h1>Enjoy anxiety-free travels in Nigeria with Halogen</h1>
          <p>We lead the West African security solutions market, as we continually focus on delivering valued
            solutions across the industry’s value chain as the number one integrated safety and security
            solutions group</p>
        </div>
        <div class="caro-img">
          <img src="/assets/images/1.png" class="" alt="...">
        </div>
      </div>
    </div> -->
    <!-- <div class="carousel-item active">
      <div class="caro">
        <div class="mainpost_left">
          <div class="mainpost_content">
            <img src="/assets/images/hero.jpg" alt="">
            <div class="mainpost_title">
              <span>By Odam Lafer</span>
              <h2>Technology- driven business
                process is the new normal</h2>
            </div>
            <p>We lead the West African security solutions market, as we continually focus on delivering valued
              solution sacross the industry’s value chain as the number one integrated.
              across the industry’s value chain as the number one integrated.sacross the industry’s value chain as the
              number one integrated.
              across the industry’s value chain as the number one integrated.</p>

            <div class="mainpost_content-btn">
              <button>Read More <mat-icon>arrow_right_alt</mat-icon></button>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div [className]=" news.id === 1 ? 'carousel-item active' : 'carousel-item'" *ngFor="let news of headlinePost">
      <div class="caro">
        <div class="mainpost_left">
          <div class="mainpost_content">
            <img routerLink="/news-events/news/{{news.id}}" src="{{news.attributes.mainImage.data.attributes.url}}"
              alt="">
            <div class="mainpost_title">
              <span>By Odam Lafer</span>
              <h2 routerLink="/news-events/news/{{news.id}}">{{news.attributes.title}}</h2>
            </div>
            <p>{{news.attributes.summary}}</p>

            <div class="mainpost_content-btn">
              <button routerLink="/news-events/news/{{news.id}}">Read More <mat-icon>chevron_right</mat-icon></button>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- <div class="carousel-item">
      <div class="caro">
        <div class="mainpost_left">
          <div class="mainpost_content">
            <img src="/assets/images/hero.jpg" alt="">
            <div class="mainpost_title">
              <span>By Odam Lafer</span>
              <h2>Technology- driven business
                process is the new normal</h2>
            </div>
            <p>We lead the West African security solutions market, as we continually focus on delivering valued
              solution sacross the industry’s value chain as the number one integrated.
              across the industry’s value chain as the number one integrated.sacross the industry’s value chain as the
              number one integrated.
              across the industry’s value chain as the number one integrated.</p>

            <div class="mainpost_content-btn">
              <button>Read More <mat-icon>chevron_right</mat-icon></button>
            </div>
          </div>
        </div>
      </div>
    </div> -->

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true">
      <!-- <mat-icon class="caro-icon caro-icon-left">chevron_left</mat-icon> -->
    </span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true">
      <!-- <mat-icon class="caro-icon">chevron_right</mat-icon> -->
    </span>
    <span class="visually-hidden">Next</span>
  </button>
</div>