.post {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* .post p {
  margin: 0;
} */

.post__header {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
}

.back-button {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  font-size: 16px;
}

.back-button .mat-icon {
  font-size: 30px;
}

.post__header span {

  color: #1c2b66;
  font-weight: 400;
}

.post__title {
  font-size: clamp(1.25rem, -0.3125rem + 5vw, 2.5rem);
  width: 60%;
  color: #1c2b66;
  font-weight: 700;
  line-height: 53px;
  min-width: 300px;
}

.post__author {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.author__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.author__name {
  font-size: clamp(0.75rem, 0.4375rem + 1vw, 1rem);
  font-weight: 600;
  color: #1c2b66;
  margin: 0;
}

.author__publish {
  font-size: clamp(0.625rem, 0.3125rem + 1vw, 0.875rem);
  color: #181945;
  margin: 0;
}

.post__mainImage {
  width: 100%;
  height: 500px;
  min-height: 200px;
  object-fit: cover;
  object-position: top center;
  margin: 5rem 0;
  border-radius: 15px;
}

/* #mark-content>p {
  font-size: 26px !important;
} */

.post__details-text {
  font-size: clamp(0.875rem, 0.4063rem + 1.5vw, 1.25rem);
  line-height: 30px;
  margin-bottom: 2rem;
}

.post__subtitle {
  font-size: clamp(1.5rem, 1.0313rem + 1.5vw, 1.875rem);
  color: #1c2b66;
  font-weight: 600;
  margin-top: 2rem;
}

.post__subImage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post__subImage img {
  width: 47%;
  height: 250px;
  min-height: 150px;
  object-fit: cover;
  border-radius: 15px;
  margin: 2rem 0;


}

.post__banner {
  background: linear-gradient(90deg, #FFF4F1 0%, rgba(219, 239, 250, 0) 100%);
  padding: 1rem 2rem;
  border-left: 4px solid #FCBE00;
  margin-bottom: 2rem;
}

.post__divider {
  width: 100%;
  display: flex;
  margin: 4rem 0;
  justify-content: space-between;

}

.post__divider div {
  width: 47%;
  border-top: 0.5px solid #1C2B66;
}