<div class="container">
  <h1>{{name}}</h1>
  <mat-card class="meme-card" *ngFor="let bann of banner; let index;">
    <mat-card-header>
      <mat-card-title>{{ bann.attributes.bannerText }} </mat-card-title>

    </mat-card-header>
    <img mat-card-image [src]="bann.attributes.bannerImage.data[0].attributes.url" alt="Meme" />
    <mat-card-content>
      <p>A cool meme</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Create meme</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
