/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Nunito+Sans&family=Poppins:wght@400;700&family=Rubik:wght@400;500;700&display=swap');

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
input,
img,
nav,
button {
  padding: 0;
  margin: 0;
}


html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

* {
  font-family: 'Nunito Sans', sans-serif;
}

.cdk-overlay-container,
.cdk-overlay-pane {
  z-index: 9999 !important;
}