.leader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leader img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: contain;
}

.leader p {
  font-size: clamp(0.75rem, 0.4375rem + 1vw, 1rem);
  font-weight: 600;
  margin-top: 1.5rem;
}

.leader span {
  font-size: clamp(0.625rem, 0.3906rem + 0.75vw, 0.8125rem);
  opacity: 0.5;
  margin-top: 0.5rem;
}

@media screen and (max-width:500px) {
  .leader img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: contain;
  }
}
